page-timer {
    .timer{
        margin-top: 40%;
    }

    .btn{
        margin: 2%;
        width: 45%;
        margin-top: 50%;
    }
    .header{
        height: 15%;
        background-color: #480032;
        
    }
    h1{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif
    }

    h4{
        font-size: 7em;
        text-align: center;
        color: #480032;
    }

}
